%% -*- mode: erlang; -*-
{deps,
 [{cucumberl, ".*",
   {git, "http://github.com/ericbmerritt/cucumberl.git",
    "623faa48"}},
  {getopt, ".*",
   {git, "https://github.com/jcomellas/getopt.git",
    {tag, "v0.4.4"}}},
  {proper, ".*",
   {git, "https://github.com/proper-testing/proper.git",
    {tag, "v1.3"}}},
  {erlware_commons, ".*",
   {git, "https://github.com/erlware/erlware_commons.git",
    {tag, "v1.3.0"}}}]}.

{escript_incl_apps,
 [erlware_commons, getopt]}.

{escript_emu_args, "%%!\n"}.

{post_hooks, [{compile, "make jxa"}]}.
