Source: joxa
Section: devel
Priority: extra
Maintainer: Eric Merritt <eric@afiniate.com>
Build-Depends: debhelper (>= 8.0.0),
               rsync,
               erlang-base,
               erlang-dev,
               erlang-tools,
               erlang-eunit,
               erlang-edoc,
               erlang-syntax-tools,
               erlang-xmerl,
               erlang-parsetools,
               erlang-mnesia,
               erlang-proper,
               erlang-cucumberl,
               erlang-erlware-commons,
               erlang-getopt,
               erlang-sinan,
Standards-Version: 3.9.2
Homepage: https://github.com/erlware/joxa
Vcs-Git: https://github.com/erlware/joxa.git
Vcs-Browser: https://github.com/erlware/joxa

Package: joxa
Architecture: all
Depends: ${misc:Depends},
         erlang-base,
         erlang-erlware-commons,
         erlang-getopt
Description:
   Joxa (pronounced like “jocksah”) is a recent dialect of the Lisp
   programming language. It is a general-purpose language supporting
   interactive development that encourages a functional programming
   style, and simplifies multithreaded programming.
   Joxa runs on the Erlang Virtual Machine. Like other Lisps, Joxa
   treats code as data and has a full unhygienic macro system.
