/**
 * A clean concise theme for your GitHub projects
 *
 * Licenced under GPL v3
 * http://www.gnu.org/licenses/gpl.html
 **/

/* Page */
body {
    background: #333333 url('../images/page-background.png') repeat top left;
    font-family: arial,sans-serif;
}

/* Header */
header {
    padding-top: 50px;
    padding-bottom: 28px;
}

/* Footer */
footer {
    background-color: #FFFFFF;
    margin-top: 50px;
    -webkit-box-shadow: -10px 0 15px #000000;
    -moz-box-shadow: -10px 0 15px #000000;
    box-shadow: -10px 0 15px #000000;
}

div.credits {
    padding-top: 9px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-top: 1px solid #DDD2B2;
    text-align: center;
}

footer p {
    color: #333333;
}

div.repo-author {
    padding-top: 30px;
}

/* Text */
p, strong, li {
    color: #CCCCCC;
    font-size: 14px;
}

strong {
    font-weight: bold;
    color: #EEEEEE;
}

a {
    color: #0075B6;
    text-decoration: none;
}

a:visited {
    color: #0075B6;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: georgia,serif;
}

h1 {
    font-style: italic;
    color: #FFFFFF;
    font-size: 50px;
    margin: 0;
}

h2 {
    color: #CCCCCC;
    font-size: 25px;
    line-height: 23px;
    padding-top: 15px;
}

h3, h4, h5 {
    color: #FFFFFF;
    font-weight: bold;
    font-family: inherit;
}


/* Useful classes and styles */
a.github-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

a.download-button {
    display: block;
    padding: 15px 20px 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    background: #33A700 url('../images/github-logo.png') no-repeat 92% 50%;
    border: 2px solid #339410;
    -webkit-box-shadow: 3px 3px 5px #000000;
    -moz-box-shadow: 3px 3px 5px #000000;
    box-shadow: 3px 3px 5px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

a.download-button:hover {
    background-color: #267C00;
    background-position: 90% 50%;
}

a.download-button span {
    font-size: 14px;
    display: block;
    margin-top: 2px;
}

div.highlight {
    margin-top: 15px;
    min-height: 220px;
    border: 3px solid #FFFFFF;
    background-color: #CCCC99;
    display: block;
    padding: 20px;
    font-family: monospace;
    -webkit-box-shadow: 3px 3px 5px #000000;
    -moz-box-shadow: 3px 3px 5px #000000;
    box-shadow: 3px 3px 5px #000000;
    overflow-x: auto;
}

dl {
    margin-top: 15px;
    min-height: 220px;
    border: 3px solid #FFFFFF;
    background-color: #CCCC99;
    display: block;
    padding: 20px;
    font-family: monospace;
    -webkit-box-shadow: 3px 3px 5px #000000;
    -moz-box-shadow: 3px 3px 5px #000000;
    box-shadow: 3px 3px 5px #000000;
    overflow-x: auto;
}
dt {
    font-weight: bold
}


code {
    margin-top: 15px;
    min-height: 50px;
    border: 3px solid #FFFFFF;
    background-color: #CCCC99;
    display: block;
    padding: 20px;
    font-family: monospace;
    -webkit-box-shadow: 3px 3px 5px #000000;
    -moz-box-shadow: 3px 3px 5px #000000;
    box-shadow: 3px 3px 5px #000000;
    overflow-x: auto;
}

pre.prettyprint {
    border: 0;
    padding: 0;
    margin: 0;
}

img.repo-author-logo {
    float: left;
    margin-right: 15px;
}

.menu {
    width: 100%;
    border-bottom: 2px solid #77746C;
    border-top: 2px solid #77746C;
    margin-bottom: 28px;
}

.menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
}

.menu ul li a:visited {
    color: white;
}

.menu ul li a:hover, .menu ul li .current {
    color: #fff;
    background-color:#0b75b2;
}

/* Media queries */
/* Hide the ribbon when we are on a phone, screen is too small */
@media only screen and (max-width: 479px) {
    a.github-ribbon {
        display: none;
    }
}