<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang='en'>
  <head profile="http://www.w3.org/2005/10/profile">
    <title>{{ page.title }}</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <!--[if lt IE 9]><script type='text/javascript' src='assets/javascript/html5.js'></script><![endif]-->
    <script type='text/javascript' src='assets/javascript/prettify.js'></script>
    <link rel='stylesheet' type='text/css' href='assets/css/skeleton/stylesheets/base.css' />
    <link rel='stylesheet' type='text/css' href='assets/css/skeleton/stylesheets/skeleton.css' />
    <link rel='stylesheet' type='text/css' href='assets/css/prettify.css' />
    <link rel='stylesheet' type='text/css' href='assets/css/style.css' />
    <link rel='stylesheet' type='text/css' href='assets/css/code.css' />

    <link rel="icon"
          type="image/png"
          href="assets/images/favicon.ico" />
  </head>

  <body onload='prettyPrint()'>
    <header>
      <div class='container'>
        <div class='five columns alpha'>
          <img src="assets/images/joxa-logo2.png"></img>
        </div>
        <div id="navigation" class='eleven columns omega'>
          <div class="two columns">
            <strong>about</strong>
            <ul>
              <li>
                <a href="http://joxa.org/">intro</a>
              </li>
              <li>
                <a href="https://github.com/erlware/joxa/wiki">wiki</a>
              </li>
            </ul>
          </div>
          <div class="two columns">
            <strong>community</strong>
            <ul>
              <li>
                <a href="http://groups.google.com/group/erlware-questions">mailing list</a>
              </li>
              <li>
                <a href="http://erlware.org">erlware</a>
              </li>
            </ul>
          </div>
          <div class="two columns">
            <strong>code</strong>
            <ul>
              <li>
                <a href="https://github.com/erlware/joxa">source</a>
              </li>
              <li>
                <a href="http://github.com/erlware/joxa/issues">issues</a>
              </li>
            </ul>
          </div>
          <div class="three columns">
            <strong>Downloads {{ page.version }}</strong>
            <ul>
              <li>
                <a href="https://github.com/erlware/joxa/downloads">Binaries</a>
              </li>
              <li>
                <a href="https://launchpad.net/~afiniate/+archive/ppa">Ubuntu Packages</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class='container'>


      <div class='sixteen columns'>
        {{content}}
      </div>
    </div>

    <footer>
      <div class='container'>
        <div class='ten columns offset-by-three repo-author'>
          <img src='/assets/images/erlware-logo.jpg'
               class='repo-author-logo' />
          <a href="http://www.twitter.com/erlware">
            <img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png"
                 alt="Follow ericbmerritt on Twitter"/>
          </a>
          <p>
            Erlware is an umbrella organization dedicated to bring
            high quality, well tested, usable libraries and tools to
            the Erlang community.
          </p>
        </div>
      </div>
    </footer>

    <a href='https://github.com/erlware/joxa'
       class='github-ribbon'><img src='assets/images/github-ribbons/red.png'
       /></a>
  </body>
</html>
